body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
.purchased {
    text-decoration: line-through;
    background-color: #d3ffd3;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    margin-left: 5px;
}